# URL de conexão para o Prisma
DATABASE_URL="postgresql://user:devpassword@db:5432/db_name?schema=public"

# Autenticação JWT
JWT_SECRET="dev_secret_key_muito_segura_123"
JWT_EXPIRATION="3600s"
JWT_REFRESH_SECRET="dev_refresh_secret_key_outra_coisa_456"
JWT_REFRESH_EXPIRATION="7d"

# Porta da Aplicação
PORT=3000

# Seed Administrator
ADMIN_USER="admin"
ADMIN_PASSWORD="devpassword123"
