node_modules
dist
build
.git
.gitignore
.dockerignore
Dockerfile

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# IDE
.vscode
.idea

# Tests & Coverage
coverage
.nyc_output

# Environment (development)
.env
.env.local
.env.development.local
.env.test.local

# Temp
.temp
.tmp
resultado_lint.txt
fix-limit.*
