# ------------------------------------------------------------------------------
# AMBIENTE: DESENVOLVIMENTO (.env.example)
# Execução: npm run dev (Terminal)
# Backend: Rodando localmente via npm run start:dev na porta 3000
# ------------------------------------------------------------------------------

# URL da API do Backend
VITE_API_URL=http://localhost:3000
