# ------------------------------------------------------------------------------
# AMBIENTE: LOCAL STANDALONE (.env.local.example)
# Execução: docker-compose-local.yaml (Docker)
# Backend: Rodando internamente no docker, mas exposto para o Host na porta 3000
# ------------------------------------------------------------------------------

# URL da API do Backend (Sendo acessado do navegador do Host local)
VITE_API_URL=http://localhost:3000
